{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>

    <p>
      L'URL de l'annonce d'id 5 est :<a href="{{ url }}">
    Lien vers l'annonce d'id {{ id }}
</a>
    </p>
  </body>
</html>
